/* General styles for the body and fonts */
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: Lato, sans-serif;
  font-size: 100%;
}

label {
  font-size: 1.1em;
  font-weight: bold;
}

/* Map container */
#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* Heading (h1) */
h1 {
  width: auto;
  position: relative;
  z-index: 2000;
  margin: 20px auto;
  padding: 8px 15px;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Info button (h2) */
h2#info-button {
  position: absolute;
  z-index: 1001;
  top: 100px;
  left: 250px;
  padding: 8px 15px;
  margin: 0;
  color: rgb(1, 100, 34);
  font-size: 1.2em;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Image container and images */
.image-container {
  width: 100%; /* Ensure the container takes full width */
  text-align: center; /* Center content inside the container */
}

.image-container img,
.modal-image {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}

/* Image credit */
.image-credit {
  font-size: 0.8em;
  color: #666;
  margin-top: 0px;
  text-align: center;
}

.image-credit a {
  color: #666;
  text-decoration: none;
}

.image-credit a:hover {
  text-decoration: underline;
}

/* UI Controls (slider container) */
#ui-controls {
  font-family: Lato, sans-serif;
  width: 90px;
  padding: 8px 25px 8px 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgb(1, 100, 34);
  position: absolute;
  bottom: 30px;
  left: 250px;
  z-index: 1000;
}

/* Year slider */
.year-slider {
  width: 100%;
}

/* Legend */
.legend {
  position: absolute;
  bottom: 30px;
  right: 250px;
  width: auto;
  background: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Modal container */
#modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 75%;
  max-width: 800px;
  max-height: 80vh;
  padding: 20px;
  background-color: rgba(1, 100, 34, 0.75);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  color: rgb(0, 0, 0);
}

/* Modal content container */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 5px 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.904);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Modal heading (h2) */
#modal h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Close button */
#modal span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
  color: rgba(1, 100, 34, 0.75);
}

/* Modal paragraphs */
#modal p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 20px;
}

#modal a {
  color: rgba(1, 100, 34);
  text-decoration: none;
}

#modal a:hover {
  text-decoration: underline;
  color: rgba(1, 100, 34);
}

/* Leaflet control buttons */
.leaflet-top.leaflet-left {
  top: 100px;
}

/* Media queries for screens smaller than 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    top: 5px;
    left: 10px;
    right: 10px;
  }

  .container {
    width: 90%;
    padding: 10px;
  }

  #ui-controls {
    width: 150px;
    left: 10px;
  }

  .legend {
    right: 10px;
    bottom: 20px;
    width: 150px;
  }
}

/* Media queries for screens smaller than 400px */
@media (max-width: 400px) {
  h1 {
    font-size: 1.2em;
    top: 5px;
    left: 5px;
    right: 5px;
  }

  #modal h2 {
    font-size: 1.5em;
  }

  #ui-controls {
    width: 100px;
    left: 5px;
  }

  .legend {
    right: 5px;
    bottom: 10px;
    width: 100px;
  }
}
